.right {
    color: forestgreen;
}

.wrong {
    color: indianred;
}

.main-form {
    display: flex;
}

.main-form > *:last-child {
    margin-left: 8px;
}

.header {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    min-width: 68px;
}

.my-card {
    border: 2px solid #efefef;
    box-shadow: 3px 3px 0 0 silver;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: white;
}

.header h2 {
    margin-bottom: 0;
}

.header .header-answers {
    flex: 1;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
}

.last-right-answer {
    font-weight: bold;
}

.wrong-answers {
    min-height: 5rem;
    max-height: 5rem;
    overflow-y: scroll;
}

.select-for-terms {
    margin-top: 8px;
    display: grid;
    grid-template: 1fr 1fr / auto;
    grid-row-gap: 4px;
}
